@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(63,56,250,255); */
}

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  background-color: rgba(63,56,250,255);
}

/*
font-family: 'Dosis', sans-serif;
*/

/* 
blue - rgba(63,56,250,255)
orange - rgba(254,92,1,255)
green - rgba(74,227,94,255)
pink - rgba(251,151,191,255)
 */

header {
  display: flex;
  width: 200px;
  height: 100px;
  border: 0.5px black solid;
  border-radius: 100px / 50px;
  background: rgba(74,227,94,255);
  margin: auto;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transform: rotate(-10deg);
}

header > h1 {
  font-size: 2.5rem;
  align-items: center;
  font-weight: 300;
}

container {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  margin: 1rem;
  font-weight: 300;
}

.all-tasks {
  width: 30vw;
  background: rgba(251,151,191,255);
  border: 1px solid black;
  margin-right: 1rem;
}

.task-list {
  font-size: 1.25rem;
  line-height: 1.7;
  list-style: circle inside;
  padding-left: 1rem;
}

.new-list-form {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.new-list {
  border-radius: 25px;
  border: 1px solid black;
  margin-right: 1rem;
  width: 20vw;
}

.btn {
  cursor: pointer;
  background: white;
  border: 1px solid black;
  border-radius: 15px;
}

.btn.create {
  width: 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  transition: opacity 250ms ease-in;
}

.btn.create:hover {
  opacity: 0.7;
}

.active-list {
  font-weight: 700;
}

.todo-list {
  background: aquamarine;
  width: 50vw;
}

/* :root {
  --clr-primary: rgb(54, 112, 199);
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
} */

/* *,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  display: grid;
  grid: "header header header header" auto "...... lists  active ......" auto/1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
} */

/* .title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  margin: -0.3em 0 0.5em;
} */



form {
  display: flex;
}

.btn.delete {
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}

.btn.delete:hover {
  color: red;
}

.new {
  background: transparent;
  border: 0;
  color: fuchsia;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding: 0.25em;
  transition: border-bottom 150ms ease-in;
  order: 2;
}

/* .new::-webkit-input-placeholder {
  opacity: 0.4;
}

.new:-ms-input-placeholder {
  opacity: 0.4;
}

.new::-ms-input-placeholder {
  opacity: 0.4;
}

.new::placeholder {
  opacity: 0.4;
}

.new:focus {
  border-bottom-width: 3px;
}

.new:focus::-webkit-input-placeholder {
  opacity: 0.15;
}

.new:focus:-ms-input-placeholder {
  opacity: 0.15;
}

.new:focus::-ms-input-placeholder {
  opacity: 0.15;
}

.new:focus::placeholder {
  opacity: 0.15;
}

.new.list {
  font-size: 1.1rem;
}

.new.task {
  margin-bottom: 0;
}

.active-list {
  font-weight: 700;
} */

/* .todo-list {
  --spacer: 2rem;
  grid-area: active;
  background: var(--clr-light);
  color: var(--clr-dark);
} */

.todo-header {
  /* padding: var(--spacer);
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between; */
  border: 1px dashed purple;
}

.list-title {
  /* margin: 0 1em 0 0; */
  border: 1px solid greenyellow;
}

.task-count {
  /* margin: 0;
  font-size: 1rem; */
  border: 1px solid cornflowerblue;
}

.todo-body {
  /* padding: var(--spacer);
  position: relative; */
  border: 1px solid yellow;
}

/* .new-task-creator .create {
  color: var(--clr-primary);
} */

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: flex-inline;
  align-items: center;
  position: relative;
  border: 1px solid blueviolet;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
  background: red;
}
/* 
.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
  background: pink;
} */

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color:green;
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: pink;
  border-color: aliceblue;
  box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  left: 1.5em;
  top: 50%;
  height: 3px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
