* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.completed {
  background-color: red;
}

.todo-items__item-div {
  border: 1px dashed salmon;
}

.empty {
  border: 1px dashed black;
  display: inline-block;
  width: 30%;
  height: 50px;
}