@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  /* font-weight: 300; */
  background-color: rgba(63,56,250,255);
}

/*
font-family: 'Dosis', sans-serif;
*/

/* 
blue - rgba(63,56,250,255)
orange - rgba(254,92,1,255)
green - rgba(74,227,94,255)
pink - rgba(251,151,191,255)
 */

header {
  display: flex;
  width: 200px;
  height: 100px;
  border: 0.5px black solid;
  border-radius: 100px / 50px;
  background: rgba(74,227,94,255);
  margin: auto;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transform: rotate(-10deg);
}

header > h1 {
  font-size: 2.5rem;
  align-items: center;
  font-weight: 300;
}

container {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  margin: 1rem;
  font-weight: 300;
}

.all-lists {
  width: 30vw;
  background: rgba(254,92,1,255);
  border: 1px solid black;
  margin-right: 1rem;
}

.task-list {
  font-size: 1.25rem;
  line-height: 1.7;
  list-style: circle inside;
  padding-left: 1rem;
  text-align: left;
}

.list-name {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: scale(1);
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms 
}

.list-name:hover {
  -webkit-transform: scale(1, 1.5);
          transform: scale(1, 1.5);
}

.btn.create {
  cursor: pointer;
  background: white;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 900;
  transition: opacity 250ms ease-in;
  width: 2rem;
}

/* .btn.create {
  width: 2rem;
} */

.btn.create:hover {
  opacity: 0.7;
}

.active-list {
  font-weight: 700;
}

.todo-list {
  background: rgba(251,151,191,255);
  width: 50vw;
  border: 1px solid black;
}

.btn.delete {
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}

.btn.delete:hover {
  color: red;
}

.new-task-creator {
  display: flex;
  justify-content: center;
}

.new {
  background: white;
  font-family: 'Dosis', sans-serif;
  border: 1px black solid;
  border-radius: 50px;
  border-bottom: 1px solid black;
  padding: 1rem;
  transition: border-bottom 100ms ease-in;
  margin: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

.new:focus {
  border-bottom-width: 5px;
  outline: none;
}

.new-list-form {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.new:focus {
  outline: none;
  border-bottom-width: 4px;
}

.task-count {
  text-align: center;
  margin-bottom: 1rem;
}

.todo-body {
  margin: 1rem;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: flex-inline;
  align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  left: 1.5em;
  top: 50%;
  height: 3px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
